/* ---------- Base ---------- */

@keyframes screenFadeIn {
    from {opacity: 1;}
    to {opacity: 0;}
}

body {
    height: 100vh; width: 100vw; margin: 0; padding: 0; 
    font-family: 'VT323', monospace; color: #FFF;
}

/* ---------- Layout ---------- */

.l-loadingScreen {
    display: flex; height: 100vh; width: 100vw;
    justify-content: space-between; align-items: center; flex-direction: column;
    background: linear-gradient(90deg, #333, #242424);
}
#loadingSreen-title {font-size: 140px;}
#loadingSreen-tips {font-size: 50px;}
#loadingSreen-waitText {font-size: 50px; margin-bottom: 10px;}

.l-screenFade {
    height: 100vh; width: 100vw; background: #000; 
    display: none; position: absolute;
    animation: 2s ease-in 0s 1 normal forwards running screenFadeIn;
}

.l-overlay {
    display: none; height: 100vh; width: 100vw;
    justify-content: center; background: #333;
}
.overlay-scoreboard {
    display: flex; height: 100px; width: 500px; font-size: 60px;
    justify-content: center; align-items: center;
    background: #464646; border: 1px solid black;
    border-radius: 0 0 10px 10px; border-top: none;
    box-shadow: inset 0px -4px 2px 3px #747474c4, 0px 0px 15px -4px #777;
}